<% content_for :title, "Edit Booking" %>
<% content_for(:page_title, "Edit Booking") %>

<%= render "form", booking: @booking %>

<div class="btn-group mt-2">
  <%= link_to "View Booking", @booking, class: "btn btn-secondary btn-sm" %>
  <%= link_to "My Bookings", my_bookings_path, class: "btn btn-secondary btn-sm" %>
</div>
