<% content_for :title, "New booking" %>

<h1>New booking</h1>

<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Back to my bookings", my_bookings_path %>
  <%= link_to "Back to venues", venues_path %>
  <%= link_to "Back to dashboard", dashboard_path %>
</div>
