<% content_for :title, "Edit Venue" %>
<% content_for(:page_title, "Edit Venue") %>

<div class="card" style="max-width:600px;">
  <div class="card-body">
    <%= render "form", venue: @venue %>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <%= link_to "Back to Venues", venues_path, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>
